.box {
    display: inline-block;
    width: 627px;
    background: #3A4042;
    box-shadow: 10px 10px 0 #000;
    text-align: center;
    padding: 42px 44px;
    margin-top: 116px;
    margin-left: 91px;
}

.box h1 {
    margin-bottom: 24px;

}